<div class="container">
    <div class="header">
        <h2>Event Binding</h2>
    </div>
    <div class="body">
        <div class="row" >
            <div class="col-md-6">
                <div class="input">
                  <label for="binding">Binding</label>
                    <input id="binding" type="text" value="{{valorBinding}}" (keyup)="handleKeyUp($event)"/>
                </div>  
            </div>
            <div class="col-md-6" style="display: flex;align-items: flex-end;">
                <p>{{valorBinding}}</p>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <div class="input">
                  <label for="Twobinding">Two Way Binding</label>
                    <input id="Twobinding" type="text" [(ngModel)]="twoWayBinding"/>
                </div>  
            </div>
            <div class="col-md-6" style="display: flex;align-items: flex-end;">
                <p>{{twoWayBinding}}</p>
            </div>
        </div>
       
    </div>
</div>