<nav class="navcontainer">
  <div class="logo">
    <img src="../assets/logo-nav@2x.png" title="Home" alt="Home" class="ng-star-inserted" width="150" height="40">
  </div>
  <div class="menus">
    <a  routerLink="/study" [routerLinkActive]="['active-link']" >Study</a>
    <a routerLink="/finances" [routerLinkActive]="['active-link']" >Finances</a>
    <a routerLink="/info" [routerLinkActive]="['active-link']">INFO</a>
  </div>


  <a routerLink="/login">
    <i class="bi bi-person-circle"></i>
  </a>

</nav>
<div style="overflow-y: scroll;height: 100vh;">
  <router-outlet></router-outlet>
</div>