<div class="container mt-3" style="margin-bottom: 5em;">
    <div class="card shadow-sm mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3" style="display: flex;justify-content: end;flex-direction: column;">
                    <label>Período</label>
                    <div class="btn-group grupoBtn" role="group" aria-label="Basic outlined example">
                        <button type="button" style="flex: 1;"
                            [ngClass]="{'btn btn-outline-primary':true, 'active':tipoPeriodo==='MENSAL', 'btn-sm':isMobile}"
                            (click)="changeTipoPeriodo('MENSAL')">Mensal</button>
                        <button type="button" style="flex: 1;"
                            [ngClass]="{'btn btn-outline-primary':true, 'active':tipoPeriodo==='ANUAL', 'btn-sm':isMobile}"
                            (click)="changeTipoPeriodo('ANUAL')">Anual</button>
                    </div>
                </div>
                <div class="col-md-3 input">
                    <div class="form-group">
                        <label for="tipoIdx">Ano</label>
                        <select class="form-select" id="tipoIdx" [ngModel]="filtro.ano"
                            (ngModelChange)="onChange($event, 'ANO')">
                            <option *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 input" *ngIf="tipoPeriodo==='MENSAL'">
                    <div class="form-group">
                        <label for="tipoIdx">Mês</label>
                        <select class="form-select" id="tipoIdx" [ngModel]="filtro.mes"
                            (ngModelChange)="onChange($event,'MES')">
                            <option *ngFor="let mes of meses" [value]="mes.valor">{{mes.nome}}</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-md-6 col-12">
            <app-card-dashboard titulo="Gastos Totais" [saldo]='totalGasto.valor' [percentual]='totalGasto.percentual' [periodo]="tipoPeriodo" [invertArrow]="true" [positivo]="totalGasto.positivo"></app-card-dashboard>
        </div>
        <div class="col-md-6" col-12>
            <app-card-dashboard titulo="Rendimentos" [saldo]='totalReceita.valor' [percentual]="totalReceita.percentual" [periodo]="tipoPeriodo" [invertArrow]="false" [positivo]="totalReceita.positivo"></app-card-dashboard>
        </div>


    </div>
    <div class="card mt-3 shadow-sm mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 h-100">
                    <p class="text-center fw-bold">Total Anual Gasto por Categoria</p>
                    <div class="w-100">
                        <ngx-charts-bar-vertical [results]="barCharData" [gradient]="false" [xAxis]="true"
                            [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [scheme]="'ocean'"
                            [showYAxisLabel]="false" 
                           >
                        </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3 shadow-sm mb-3" *ngIf="tipoPeriodo==='ANUAL'">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 h-100">
                    <p class="text-center fw-bold">Comparativo Anual de Gastos x Renda</p>
                    <div class="w-100">
                        <ngx-charts-line-chart
                        
                        [legend]="false"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="false"
                        [xAxis]="true"
                        [yAxis]="true"
                        [xAxisLabel]="'Mes'"
                        [yAxisLabel]="'Valor'"
                        [timeline]="false"
                        [results]="lineChartData"
                        [xAxisTickFormatting]="formatAnoMes"
                        [yAxisTickFormatting]="formatDouble"
                        [rotateXAxisTicks]="true"
                        >
                      </ngx-charts-line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <ngx-charts-bar-vertical [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
        [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-vertical> -->
</div>