<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-success" (click)="teste.openModal()">Abir Modal</button>

    <app-modal title="Adicionar Gasto" #teste>
      <form body [formGroup]="formulario">
        <div class="row input">
          <div class="col-md-12">
            <div class="form-group">
              <label for="idxDescricao">Descrição</label>
              <input type="text" class="form-control" id="idxDescricao"
                [ngClass]="{'is-invalid':verificaValidTouched('descricao')}" formControlName="descricao">
              <span class="spanRequired" *ngIf="verificaValidTouched('descricao')">Required Field</span>
            </div>
          </div>
        </div>
        <div class="row input">
          <div class="col-md-12">
            <div class="form-group">
              <label for="idxValor">Valor</label>
              <input type="text" class="form-control" id="idxValor" formatterDirective tipo="double2Decimal"
                [ngClass]="{'is-invalid':verificaValidTouched('valor')}" formControlName="valor">
              <span class="spanRequired" *ngIf="verificaValidTouched('valor')">Required Field</span>
            </div>
          </div>
        </div>
        <div class="row input">
          <div class="col-md-12">
            <div class="form-group">
              <label for="tipoIdx">Forma de pagamento</label>
              <select class="form-select" id="tipoIdx"  formControlName="formaPagamento" required>
                <option [value]="'CARTAO'">Cartão</option>
                <option [value]="'PIX'">PIX</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <pre>
              {{formulario.value | json}}
            </pre>
          </div>
        </div>
      </form>
      <div footer>
        <button class="btn btn-success" (click)="teste.closeModal()">Salvar</button>
        <button class="btn btn-danger" (click)="teste.closeModal()">Cancelar</button>
      </div>
    </app-modal>

  </div>
</div>