<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <app-card-gasto titulo="Saldo Conta Corrente" [saldo]=1250.20 infoRight="02/06/2023"></app-card-gasto>
    </div>
    <div class="col-md-6">
      <app-card-gasto titulo="Saldo Poupança" [saldo]=5000.0></app-card-gasto>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
      <app-table-gasto [gastos]="contas" titulo="Gastos" (clickRow)="editConta($event)"></app-table-gasto>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <button class="btn btn-success" (click)="cadastroConta?.openCadastro()">Abir Modal</button>
    <app-cadatro-conta (save)="adicionaConta($event)" [conta]="conta" ></app-cadatro-conta>
  </div>
  <!-- <div class="row">
    <p>{{conta | json}}</p>
  </div> -->
</div>
