/* 
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 30%);

}
.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    
  }
  .header{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0px 10px 10px 10px;
    margin-bottom: 20px;
  }
  .header h1{
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  .divbutton{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.signup{
    margin-top: 10px;
}
  button{
    display: block;
  } */


  .header h1{
    font-size: 2em;
    font-weight: bold;
    color: #333;
  }
  .titulo{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
  }