<div class="main">

    <div class="login-container">
        <div class="header">
            <h1>Login</h1>
        </div>
        <form>
            <div class="form-floating mb-3 input">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating mb-3 input">
                <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Password</label>
            </div>


            <div class="d-grid gap-2 input divbutton">
                <button class="btn btn-primary" type="button" (click)="login()">Log in</button>
            </div>
            <div class="signup">
                <p>Create account <a href="#">here</a></p>
            </div>
        </form>
    </div>
</div>