<div class="container">
    <div class="header">
        <h2>Class and Style Binding</h2>
    </div>
    <div class="body">
        <p>Nome: {{nome}}</p>
        <p>Idade: {{idade}}</p>
        <div style="display: flex;flex-direction: column;font-weight: 400;margin-top: 10px;">
            <label for="maiorIdade" style="font-weight: 200;">Maior de Idade</label>
            <select id="maiorIdade" #valueSelected (change)="0" style="font-weight: 200;">
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
        <p class="alert {{valueSelected.value=='true'?'alert-success':'alert-danger'}}">É maior de idade</p>
    </div>
</div>
