@import "~bootstrap-icons/font/bootstrap-icons.css";
.table th, .table td { border: 1px solid #ddd!important }
.head{
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 1.1em;
}
table{
    font-family: 'Nunito', sans-serif;
}
table th{
    font-weight: bold;
    font-size: 1.1em;
}
table thead{
    border-bottom: 3px solid #ddd;
    background-color: #f3f3f3;
}

.tableRow{
    cursor: pointer;
}

.filtro{
    cursor: pointer;
    margin-bottom: 0;
}
.filtro i{
    font-size: 1.3em;
    transition: all 0.5s;
    
}
.filtroIcon{
    display: inline-block;
    transform: rotate(90deg);
}


.filtro span{
    font-family: 'Nunito', sans-serif;
    margin-left: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
.filtroBody{
    padding: 0 !important;
    font-weight: bold;

}
.filtroFooter{
    padding: 0 !important;
}
    
