<app-header></app-header>
<div class="main">
  <div class="box">
    <app-stylebinding></app-stylebinding>
  </div>
  <div class="box">
    <app-eventbinding></app-eventbinding>
  </div>
  <div class="box">
    <div style="display: flex; justify-content: center;margin-top: 10px;">
      <span>Event Propagation</span>
    </div>
    <div style="margin:15px 10px;">
      <contador [valor]='valorContadorPai' (changeValue)="onMudaValor($event)" ></contador>
    </div>
    <div style="padding: 20px 10px;">
      <span style="font-weight: 200;">
      Contador elemento pai: {{valorContadorPai}}
      </span>
    </div>
  </div>
  <div class="box">
    <div style="display: flex; justify-content: center;margin-top: 10px;">
      <span>*ngIf</span>
    </div>
    <div style="margin:15px 10px; text-align: center;">
      <button class="btn btn-secondary" style="margin-bottom: 20px;"  (click)="onShowHide()">
        Show / Hide
      </button>
      <contador *ngIf="ngIfShowHide" [valor]='valorContadorPai' (changeValue)="onMudaValor($event)" ></contador>
    </div>
   
  </div>
  <div class="box">
    <div style="display: flex; justify-content: center;margin-top: 10px;">
      <span>*ngSwitchCase</span>
    </div>
    <div style="margin:15px 10px; text-align: center;">
      <app-ngswitchcase></app-ngswitchcase>
    </div>
   
  </div>
 
</div>