<div>
    <form [formGroup]="formulario" >
        <div class="row input">
            <div class="col-md-6">
                <div class="form-group" >
                    <label for="idxName">Name</label>
                    <input type="text" class="form-control"  id="idxName" [ngClass]="{'is-invalid':verificaValidTouched('nome')}"   formControlName="nome"  >
                    <span class="spanRequired" *ngIf="verificaValidTouched('nome')">Required Field</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="idxSalary">Salary</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid':verificaValidTouched('salario')}" formControlName="salario" id="idxSalary"  >
                    <span class="spanRequired" *ngIf="verificaValidTouched('salario')">Required Field</span>
                </div>
            </div>
        </div>
        <div class="row input">
            <div class="col-md-12">
                <div class="form-group" >
                    <label for="idxEmail">Email</label>
                    <input type="text" class="form-control"  formControlName="email" id="idxEmail"  [ngClass]="{'is-invalid':verificaValidTouched('email')}"  >
                    <span class="spanRequired" *ngIf="verificaValidTouched('email')">Required Field</span>
                </div>
            </div>
        </div>
        <div class="row input">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="idxCpf">Cpf/CNPJ</label>
                    <input type="text" class="form-control"   formControlName="cpfCnpj" id="idxCpf" [ngClass]="{'is-invalid':verificaValidTouched('cpfCnpj')}">
                    <span class="spanRequired" *ngIf="verificaValidTouched('cpfCnpj')">Required Field</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>