.table th, .table td { border: 1px solid #ddd!important }
.input{
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
    font-weight: 200;
    margin-top: 5px;
}
label{
    font-weight: 400;
}
select{
    font-weight: 200;
    margin-top: 5px;
}
.spanRequired{
    color:red;
    font-size: 12px;
}
.main{
    margin-top: 10px;
    padding-bottom: 120px;
}

