<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <app-card-gasto titulo="Saldo Conta Corrente" [saldo]=1000.00 infoRight="02/06/2023"></app-card-gasto>
    </div>
    <div class="col-md-6">
      <app-card-gasto titulo="Saldo Poupança" [saldo]=1000.0></app-card-gasto>
    </div>
  </div>
  <div class="row" style="margin-top: 1em;">
    <app-filtro-gasto (eventFiltro)="filtrar($event)"></app-filtro-gasto>
  </div>
  <div class="row" style="margin-top: 1em;">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" style="flex: 1;" [ngClass]="{'btn btn-outline-primary':true, 'active':showGastosMensais}" (click)="showGastosMensais=true">Gastos Mensais</button>
      <button type="button" style="flex: 1;" [ngClass]="{'btn btn-outline-primary':true, 'active':!showGastosMensais}" (click)="showGastosMensais=false">Gastos Fixos e Depósitos</button>
    </div>
  </div>
  <div class="row box-container" style="margin-top: 20px;" *ngIf="showGastosMensais">
    <div class="col-md-12">
      <app-table-gasto [filtro]="filtro"></app-table-gasto>
    </div>
  </div>
  <div class="row" style="margin-top: 1em;" *ngIf="!showGastosMensais">
    <div class="col-md-6">
      <app-entrada-conta [filtro]="filtro"></app-entrada-conta>
    </div>
    <div class="col-md-6">
      <app-table-gasto [filtro]="filtro" [tipoGasto]="gastosFixos" [titulo]='"Gastos Fixos Mensais"'></app-table-gasto>
    </div>
  </div>


</div>