<div class="modal-header">
    <h4>{{titleText}}</h4>
    <button type="button" class="btn btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <p>{{msgConfirm}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-secondary" (click)="onHandleSelect(true)">Confirmar</button>
        <button class="btn btn-secondary" style="margin-left: 1em;" (click)="onHandleSelect(false)">Cancelar</button>
      </div>
    </div>
  </div>