<div class="card" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    <div class="card-header head" style="display: flex; justify-content: space-between;">
        <span>{{titulo}}</span>
    </div>
    <div>

        <div style="padding: 0px 15px;margin-bottom: 1em; margin-top: 1em;">
            <div class="row" style="margin: 10px 0px 5px 0px;" *ngIf="isGastoVariavel()">
                <div class="col-md-12 d-flex flex-row-reverse">
                    <button class="btn btn-secondary ms-1" (click)="generateReport()">
                        <i class="bi bi-printer"></i>
                    </button>
                    <button class="btn btn-primary" (click)="adicionarConta()">
                        <span>Adicionar</span>
                    </button>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-6">Descrição</th>
                        <th scope="col" class="col-md-2" *ngIf="isGastoVariavel()">Categoria</th>
                        <th scope="col" class="col-md-2" *ngIf="isGastoVariavel()">Pagamento</th>
                        <th scope="col" class="col-md-2">Valor</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="tableRow" *ngFor="let gasto of gastos; index as i" (click)="onRowClick(gasto)">
                        <td scope="row">{{gasto.descricao}}</td>
                        <td *ngIf="isGastoVariavel()">{{gasto.categoria | CustomPipe:'categoria'}}</td>
                        <td *ngIf="isGastoVariavel()">{{gasto.formaPagamento | CustomPipe:'pagamento'}}</td>
                        <td style="text-align: right;">{{gasto.valor | currency:"BRL":"symbol"}}</td>
                    </tr>
                    <tr class="tableRow" *ngIf="gastos?.length===0">
                        <td colspan="4" style="text-align: center;padding: 0.5em;">Nenhum registro para a data selecionada</td>
                        
                    </tr>

                </tbody>
            </table>
            <div class="row" style="margin: 0px 5px" *ngIf="!isGastoVariavel()">
                <div class="col-md-12">
                    <div class="row">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary" style="flex:6"  (click)="adicionarConta()">Adicionar</button>
                            <button type="button" title="Copiar registros do mês anterior" class="btn btn-outline-primary" (click)="handleCopiar()">
                                <i class="bi bi-clipboard-check"></i>
                            </button>
                           
                          </div>
                    </div>
                </div>
            </div>
            <app-pagination *ngIf="isGastoVariavel()" (handleFiltro)="handleFiltro($event)" [filtro]="filtro"></app-pagination>
           
        </div>
        <!-- <div *ngIf="loading" style="display: flex;justify-content: center;">
            <mat-spinner></mat-spinner>
        </div> -->


    </div>
</div>