<div class="card">
    <div class="card-header head">Gastos</div>
    <div class="card-body">

        <div>
            <div class="row" style="margin: 10px 0px 5px 0px;">
                <div class="col-md-12 d-flex flex-row-reverse">
                    <button class="btn btn-secondary ms-1" (click)="generateReport()">
                        <i class="bi bi-printer"></i>
                    </button>
                    <button class="btn btn-primary" (click)="adicionarConta()">
                        <span>Adicionar</span>
                    </button>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-6">Descrição</th>
                        <th scope="col" class="col-md-2">Categoria</th>
                        <th scope="col" class="col-md-2">Pagamento</th>
                        <th scope="col" class="col-md-2">Valor</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="tableRow" *ngFor="let gasto of gastos; index as i" (click)="onRowClick(gasto)">
                        <td scope="row">{{gasto.descricao}}</td>
                        <td>{{gasto.categoria | CustomPipe:'categoria'}}</td>
                        <td>{{gasto.formaPagamento | CustomPipe:'pagamento'}}</td>
                        <td style="text-align: right;">{{gasto.valor | currency:"BRL":"symbol"}}</td>
                    </tr>

                </tbody>
            </table>
            <nav aria-label="Page navigation example">

                <ul class="pagination justify-content-between">
                    <div style="width: 12em;">
                        <div class="input-group">
                            <div class="input-group-prepend" style="height: '30px';">
                                <button class="btn btn-outline-primary btn-sm" type="button"
                                    (click)="handlePageSizeChange(false)">-</button>
                            </div>

                            <input type="text" class="form-control" placeholder=""
                                [value]="filtro.pageSize+' registros'"
                                style="height: 1.9em !important; font-weight: 200;" aria-label=""
                                aria-describedby="basic-addon1">
                            <div class="input-group-prepend" style="height: '30px';">
                                <button class="btn btn-outline-primary btn-sm" type="button"
                                    (click)="handlePageSizeChange(true)">+</button>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <li class="page-item" [class.disabled]="filtro.pageNumber==1">
                            <span class="page-link" (click)="handlePagination(false)">Previous</span>
                        </li>
                        <li class="page-item" *ngFor="let pagina of getPages()"
                            [class.active]="pagina==filtro.pageNumber" (click)="selectPage(pagina)"><span
                                class="page-link">{{pagina}}</span></li>
                        <li class="page-item" [class.disabled]="filtro.pageNumber==filtro.maxPages">
                            <span class="page-link" (click)="handlePagination(true)">Next</span>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        <!-- <div *ngIf="loading" style="display: flex;justify-content: center;">
            <mat-spinner></mat-spinner>
        </div> -->


    </div>
</div>