<div class="card box">
    <div class="card-header head">
        <span>
            Registros de Entradas na Conta
        </span>
        <i class="bi bi-info-circle icon-info" placement="top" ngbTooltip="Tabela com todos registros de depositos Pix feito na conta"></i>
    </div>
    
    <div style="padding: 0px 15px;margin-bottom: 1em;">
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-6">Descrição</th>
                        <th scope="col" class="col-md-2">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tableRow" *ngFor="let deposito of depositos; index as i" (click)="onRowClick(deposito)">
                        <td scope="row">{{deposito.descricao}}</td>
    
                        <td style="text-align: right;">{{deposito.valor | currency:"BRL":"symbol"}}</td>
                    </tr>
                    <tr class="tableRow" *ngIf="depositos?.length===0">
                        <td colspan="4" style="text-align: center;padding: 0.5em;">Nenhum registro para a data selecionada</td>
                        
                    </tr>
    
                </tbody>
            </table>
            <div class="row" style="margin: 0px 5px">
                <div class="col-md-12">
                    <div class="row">
                        <button class="btn btn-primary" (click)="adicionarConta()">
                            <span>Adicionar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="loading" style="display: flex;justify-content: center;">
            <mat-spinner></mat-spinner>
        </div> -->
       


    </div>
</div>